<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <header>
        <nav id="nav-wrapper">
            <li>
                <a th:href="@{/contact}">Contact</a>
                <a th:href="@{/contact-list}">Inputs</a>
            </li>
        </nav>
    </header>
    <div id="wrapper">
        <div id="wrapper-form">
            <form th:action="@{contact}" method="post">
                <label for="input">Enter inputs:</label><br>
                <input type="text" id="input" name="input" placeholder="Input..." required>
                <button>Send</button>
            </form>
        </div>
    </div>
</body>
</html>