<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact View</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <header>
        <nav id="nav-wrapper">
            <li>
                <a th:href="@{/contact}">Contact</a>
                <a th:href="@{/contact-list}">Inputs</a>
            </li>
        </nav>
    </header>
    <div id="wrapper" >
        <div id="list-wrapper">
            <h2>List of inputs:</h2>
            <ul>
                <li th:each="input: ${inputs}">
                    <p th:text="${input}"></p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>